@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Delete User";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger"> You are about to delete this user. </div> 

    <p>Email: <strong>@Model.Email</strong></p>

<form asp-action="Delete"> 
    <input type="hidden" asp-for="Id" /> 
    
    <button type="submit" class="btn btn-danger">Delete</button> 
    <a asp-action="Index" class="btn btn-secondary">Cancel</a> 

</form>