@model DeviceManager.Models.Device


<div class="container py-4">
    <div class="card shadow-sm p-4 border-0">
        <h3>Create Device</h3>


        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Device Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Type" class="form-label"></label>
                <input asp-for="Type" class="form-control" placeholder="E.g Phone, Laptop" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="SerialNumber" class="form-label"></label>
                <input asp-for="SerialNumber" class="form-control" placeholder="Enter Device Serial Number" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <select asp-for="Status" class="form-select">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="TechnicianId" class="form-label"></label>
                <select asp-for="TechnicianId" asp-items="ViewBag.Technicians" class="form-select">
                    <option value="0">Unassigned</option>
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
</div>